.cart {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .item-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-details h3 {
    margin: 0;
  }
  
  .cart-total {
    text-align: right;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .empty-cart-message {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
  }
  
  .back-button {
        background-color: #77ab59;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #36802d;
}
  
.checkout-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.checkout-button:hover {
  background-color: #45a049;
}